@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar design */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #2b7cff;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
    /* right: 0 !important; */
    background-color: black !important;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    /* left: 0 !important; */
    background-color: black !important;
}