@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar design */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #2b7cff;
}